.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 25rem;
  overflow-y: scroll;
  background: $lightGray;
  padding: 3rem 1rem 0 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: $transition;
  transform: translateX(100%);

  &-overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    &.open {
      .cart {
        transform: translateX(0);
      }
    }
  }

  &-close,
  &-item-remove,
  &-item-increase,
  &-item-decrease {
    border: 0;
    cursor: pointer;
    background: transparent;
  }

  &-close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-size: 1.75rem;
    color: $gray;
  }

  header h3,
  &-total {
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
    font-family: $kaushan;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    letter-spacing: $letterSpacing;
  }

  &-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;

    &-img {
      width: 75px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
    }

    &-title {
      font-weight: 400;
      margin-bottom: 0.15rem;
    }

    &-price {
      color: $grayishBlue;
      margin-bottom: 0;
      font-size: 0.75rem;
    }

    &-remove {
      color: $gray;
      letter-spacing: $letterSpacing;
    }

    &-increase,
    &-decrease {
      padding: 0.25rem;
      font-size: 0.85rem;
      color: $lightGreen;
    }

    &-amount {
      text-align: center;
    }
  }

  &-total {
    margin-bottom: 2rem;
  }

  &-checkout {
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
