.products-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-img {
    height: 14rem;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    &:hover .product-icons {
      opacity: 1;
    }

    .product-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      display: flex;
      transition: $transition;
      transform: translate(-50%, -50%);

      .product-icon {
        border: 0;
        outline: 0;
        color: white;
        width: 2.45rem;
        height: 2.45rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        background: $lightGreen;
        transition: $transition;

        &:hover {
          background: $lightLime;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  .product-info {
    padding: 1rem 0;
    letter-spacing: $letterSpacing;

    .name {
      color: $gray;
    }

    .price {
      color: $grayishBlue;
      margin-top: 0.25rem;
    }
  }
}
