.products {
  display: grid;
  grid-gap: 1.15rem;
  position: relative;
  margin: 3rem auto;
  grid-template-columns: 1fr;

  @include breakpoint-up(medium) {
    margin: 2rem auto;
    grid-template-columns: 200px 1fr;
  }

  .filters {
    width: 50vw;
    margin: 0 auto 2rem;

    @include breakpoint-up(medium) {
      margin: 0;
      width: auto;
    }

    &-container {
      position: sticky;
      top: 1rem;
    }

    .search-input {
      border: 0;
      outline: 0;
      width: 100%;
      font-weight: 400;
      font-size: 0.9375rem;
      font-family: inherit;
      border-radius: 0.5rem;
      background: $lightGray;
      padding: 0.45rem 0.625rem;
    }

    h4 {
      font-weight: 500;
      margin: 0.9375rem 0;
      font-size: 0.9375rem;
    }

    .company-btn {
      border: 0;
      color: $gray;
      display: block;
      cursor: pointer;
      margin: 0.65rem;
      font-size: 0.9rem;
      padding: 0.15rem 0;
      background: transparent;
      text-transform: capitalize;
    }
  }

  .filter-error {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    margin-top: 5rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: $letterSpacing;
  }
}
