// Variables
$gray: #617d98;
$violet: #fe7fca;
$darkGray: #102a42;
$lightGray: #f1f5f8;
$lightLime: #D1F19E;
$lightGreen: #A2E62E;
$grayishBlue: #324d67;
$letterSpacing: 0.1rem;
$transition: all 0.3s ease-in-out;
$kaushan: "Kaushan Script", cursive;
