// Variables
$gray: #617d98;
$violet: #fe7fca;
$darkGray: #102a42;
$lightGray: #f1f5f8;
$lightLime: #d1f19e;
$lightGreen: #a2e62e;
$grayishBlue: #324d67;
$veryLightGray: #bcccdc;
$letterSpacing: 0.1rem;
$transition: all 0.3s ease-in-out;
$kaushan: "Kaushan Script", cursive;
